<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>1</string>
		<key>description</key>
		<string>三个小黄人~~~</string>
	</dict>
	<dict>
		<key>name</key>
		<string>2</string>
		<key>description</key>
		<string>2个正方体不一样的颜色 </string>
	</dict>
	<dict>
		<key>name</key>
		<string>3</string>
		<key>description</key>
		<string>外国的电车</string>
	</dict>
	<dict>
		<key>name</key>
		<string>4</string>
		<key>description</key>
		<string>唯美图片</string>
	</dict>
	<dict>
		<key>name</key>
		<string>5</string>
		<key>description</key>
		<string>埃菲尔铁塔</string>
	</dict>
	<dict>
		<key>name</key>
		<string>6</string>
		<key>description</key>
		<string>很黄很黄的图....</string>
	</dict>
	<dict>
		<key>name</key>
		<string>7</string>
		<key>description</key>
		<string>指尖的阳光</string>
	</dict>
</array>
</plist>
